################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MISIS.CI/.vs/MISIS.CI
/MISIS.CI/MISIS.CI.API/bin/Debug/netcoreapp3.0
/MISIS.CI/MISIS.CI.API/obj
/MISIS.CI/MISIS.CI.API/secret.json
/MISIS.CI/MISIS.CI.Gateway/bin/Debug/netcoreapp3.0
/MISIS.CI/MISIS.CI.Gateway/obj
/MISIS.CI/MISIS.CI.Storage/bin/Debug/netcoreapp3.0
/MISIS.CI/MISIS.CI.Storage/obj
